@model IEnumerable<ShopPizzaHut.Models.EF.LoaiKhachHang>

@{
    ViewBag.Title = "Loại khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý loại khách hàng</h2>

<p>
    <a href="@Url.Action("Create")" class="btn btn-default" style="background:#4e73df; color:white;">Thêm mới</a>
</p>
<table class="table">
    <tr>
        <th>
            Tên loại khách hàng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoaiKH)
        </td>
        <td>
            <a href="@Url.Action( "Edit", new { id = item.MaLoaiKH })" class="btn btn-default" style="background:#4e73df; color:white;">Sửa</a>
            <a href="@Url.Action( "Delete", new { id = item.MaLoaiKH })" class="btn btn-default" style="background:#4e73df; color:white;">Xóa</a>
        </td>
    </tr>
}

</table>
