
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="margin-top:50px;margin-left:50px;">Giới thiệu</h1>
<div class="container">
    <p>
        Pizza Hut là chuỗi nhà hàng pizza được yêu thích và lớn nhất thế giới, trực thuộc tập đoàn Yum! (www.yum.com). Pizza Hut tự hào hiện diện tại 100 quốc gia trên khắp thế giới từ tháng 4 năm 2016.
    </p>
    <p>
        Sự kiện này đánh dấu một cột mốc ý nghĩa để minh chứng cho sự cam kết của nhãn hàng về chất lượng pizza hảo hạng và phong cách phục vụ chuyên nghiệp.
    </p>
    <p>
        Pizza Hut có mặt tại Việt Nam từ năm 2006 với 100% vốn nước ngoài; và hiện đã phát triển hơn 50 nhà hàng với trên 3.000 nhân viên.
    </p>
    <p>
        Pizza Hut Việt Nam - nơi bạn được thỏa sức thể hiện chính mình với cơ hội hấp dẫn để phát triển cá nhân lẫn nghề nghiệp toàn diện!
    </p>
    <p>
        Chúng tôi tân tâm mang đến một môi trường làm việc thân thiện và chuyên nghiệp cho từng nhân viên, nỗ lực hoàn thiện giá trị “Cùng nhau hướng đến một Pizza Hut TUYỆT VỜI!”
    </p>
</div>
<div style="display:flex; justify-content:center;">
    <img src="https://pizzahut.vn/_nuxt/img/img@3x.6ba25c8.png" width="553" />
</div>

<h1 style="margin-top:50px;margin-left:50px;">Tầm nhìn</h1>
<div class="container">
    <p>
        Trở thành thương hiệu kinh doanh chuỗi nhà hàng phát triển nhanh nhất Việt Nam thông qua việc liên tục phát triển Con Người và không ngừng đổi mới
    </p>
</div>
<div style="display:flex; justify-content:center;">
    <img src="https://pizzahut.vn/_nuxt/img/aboutus-02@3x.365cfda.png" width="1100" />
</div>

<h1 style="margin-top:50px;margin-left:50px;">Giá trị cốt lõi</h1>
<div class="container">
    <p>
        Pizza Hut Việt Nam - nơi bạn được thỏa sức thể hiện chính mình với cơ hội hấp dẫn để phát triển cá nhân lẫn nghề nghiệp toàn diện!Chúng tôi tân tâm mang đến một môi trường làm việc thân thiện và chuyên nghiệp cho từng nhân viên, nỗ lực hoàn thiện giá trị cùng xây dựng "Chiếc Bánh của Niềm Tin và Sự Xuất Sắc"
    </p>
</div>
<div style="display:flex; justify-content:center;">
    <img src="https://pizzahut.vn/_nuxt/img/bitmap@3x.66dd33c.png" width="600" />
</div>

<h1 style="margin-top:50px;margin-left:50px;">Văn hóa</h1>
<div class="container">
    <p>
        Đến với Pizza Hut, bạn sẽ là một mảnh ghép tạo nên Chiếc bánh của Niềm Tin và Sự Xuất Sắc. Là một môi trường thân thiện, hòa nhã, và tạo điều kiện phát triển sự nghiệp cho mỗi cá nhân.Pizza Hut khuyến khích nhân viên sống hết mình với đam mê và không ngại ngần bước xa hơn để phát triển bản thân Bạn đã sẵn sàng trở thành mảnh ghép tạo nên Chiếc bánh của Niềm Tin và Sự Xuất Sắc chưa ?
    </p>
</div>
<div style="display:flex; justify-content:center; padding-bottom:50px;">
    <img src="https://pizzahut.vn/_nuxt/img/bitmap_2@3x.9c596ed.png" width="600" />
</div>